<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container my-5">
        <h2>Temp Data</h2>

        <% if(temp_list.length >0) { %>
        <table class="table my-3">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Key</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <% for (let d of temp_list) { %>
                <tr>

                    <th scope="row"><%= d.id %></th>
                    <td><%= d.key %></td>
                    <td>
                        <form action="/donors/temp/add/<%= d.id %>" method="POST" class="inline-form">
                            <input type="text" class="sr-only" name="key" value="<%= d.key %>">
                            <button class="btn bg-primary text-white">Add In Slaves</button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
        <h1 class="text-warning text-center">No data temp IN Database</h1>
        <% } %>


    </div>



</body>

</html>